In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Zad

Na podstawie danych food, określić podobieństwo między zwyczajami jedzeniowymi mieszkańców krajów Wielkiej Brytanii.

Dla poniższych danych 

 * znajdż optymalną ilość wymiaów i zredukuj wymiar danyc
 * ponadto zmniejsz wymiar danych do 2 i zwizualizuj dane

In [1]:
import pandas as pd
food = pd.read_csv("data/food.txt",delimiter=" ",comment="#")
food

                  food  England  Wales  Scotland  Ireland
0               Cheese      105    103       103       66
1         Carcass-meat      245    227       242      267
2           Other-meat      685    803       750      586
3                 Fish      147    160       122       93
4        Fats-and-oils      193    235       184      209
5               Sugars      156    175       147      139
6       Fresh-potatoes      720    874       566     1033
7            Fresh-Veg      253    265       171      143
8            Other-Veg      488    570       418      355
9   Processed-potatoes      198    203       220      187
10       Processed-Veg      360    365       337      334
11         Fresh-fruit     1102   1137       957      674
12             Cereals     1472   1582      1462     1494
13           Beverages       57     73        53       47
14         Soft-drinks     1374   1256      1572     1506
15    Alcoholic-drinks      375    475       458      135
16       Confectionery       54     64        62       41

In [2]:
X = np.array(food)[:,1:].T.astype("float") # Wiersze to kraje
print(X.shape)
y = food.columns[1:]
print(y)

NameError: name 'np' is not defined

In [ ]:
pd.DataFrame(X)

In [3]:
df=pd.DataFrame(X)
sns.pairplot(df)
plt.show()

NameError: name 'X' is not defined

In [4]:
from sklearn.preprocessing import StandardScaler
X_std = StandardScaler().fit_transform(X)

NameError: name 'X' is not defined

In [ ]:
from sklearn.decomposition import PCA
model = PCA()
pca_features = model.fit_transform(X_std)
plt.bar(range(model.n_components_),model.explained_variance_ratio_)
plt.show()

## Odpowiedź: 2 wymiary są wystarczające

# Zad
Zwizualizuj dane w 2D

In [5]:
from sklearn.preprocessing import StandardScaler
X_std = StandardScaler().fit_transform(X)
pca_features = model.fit_transform(X_std) # dwa wymiary, wiec rzutowanie jest na dwa wymiary

xs = pca_features[:,0]
ys = pca_features[:,1]

_, ax = plt.subplots()
plt.scatter(xs, ys)
for i, txt in enumerate(food.columns[1:]):
    ax.annotate(txt, (xs[i], ys[i]), (xs[i] + .1, ys[i] + .1))
plt.axis('equal')
plt.show()

NameError: name 'X' is not defined